@model ButtonModel

@if (Model.IsSubmit)
{
    <!-- Form Submit Butonu -->
    <button class="bg-appPrimary text-white px-28 py-2 rounded-full text-[1.38rem] font-bold" type="submit">
    @Model.Text
</button>
}
else
{
    <!-- Link Butonu -->
    <a href="@Model.LinkUrl"
    class="bg-appPrimary text-white px-28 py-3 rounded-full text-[1.38rem] font-bold text-center no-underline">
    @Model.Text
</a>
}
