@model string
<a href="/ContactUs/Index" class="flex p-3 gap-6 bg-appCartBg rounded-3xl no-underline">
    <div class="flex flex-col gap-2 text-appText justify-center">
        <h1 class="text-base font-semibold">Bize Yazın</h1>
        <p class="text-sm">@Model</p>
    </div>
    <img class="h-16 w-16" src="~/images/home/MessageTick.svg" alt="Co-Op Icon">
</a>