@model ExpertCategoryVM

<a href="/Experts/Contact?CategoryId=@Model.ExpertCategoryId"
    class="bg-appCartBg text-appText p-[0.625rem] flex gap-3 rounded-3xl no-underline items-center justify-evenly">
    <img class="w-14 h-14" src="@Model.ImagePath" alt="Web Site">
    <div class="w-96">
        <h1 class="text-base font-semibold">@Model.CategoryName</h1>
        <p>@Model.CategoryDescription</p>
    </div>
    <img class="h-8 w-8" src="~/images/shared/cardRightArrow.png" alt="NavButton">
</a>