<div
    class="w-full bg-appPrimary text-[1.375rem] font-bold relative text-white h-[3.75rem] flex items-center justify-center">
    <a href="@Model.ArrowLink" class="absolute bottom-1 left-0 h-12 w-12 flex items-center justify-center">
        <img src="~/images/shared/ArrowLeft.svg" alt="Back Arrow" class="h-6 w-6">
    </a>
    <h1>@Model.Text</h1>
</div>