@model RegisterSecondVM
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.2/dist/css/tom-select.css" rel="stylesheet">

@await Html.PartialAsync("_HeaderPartial", new HeaderModel{ Text = "İşletme Bilgileri", ArrowLink = "/Register/First" })

<form action="/Register/Second" method="post" class="px-4">
    <div class="w-full min-h-[calc(100vh-3.8rem)] flex flex-col gap-4 items-center justify-around">
        
            <div class="w-full h-full">
                <h1 class="text-[1.375rem] font-bold text-appText">İşletme Bilgileri</h1>
                
                <div>
                    <label asp-for="Business.BusinessName" class="text-appStroke text-xs font-inter font-normal">İşletme Adı</label>
                    <input class="basic-input"
                        asp-for="Business.BusinessName" type="text">
                    <span class="text-appWarning text-sm" asp-validation-for="Business.BusinessName"></span>
                </div>

                <div>
                    <label for="businessTypeDropdown" class="text-appStroke text-xs font-inter font-normal">İşletme Türü</label>
                    <select id="businessTypeDropdown" name="SelectedBusinessTypeId" class="border-b-2 text-[1rem] bg-appBgSecondary border-gray-300 focus:outline-none focus:border-appPrimary w-full py-2">
                        <option value="">Seçiniz</option>
                    </select>
                    <span class="text-appWarning text-sm" asp-validation-for="SelectedBusinessTypeId"></span>
                </div>

            </div>

            <div class="w-full h-full">
                <h1 class="text-[1.375rem] font-bold text-appText">Adres Bilgileri</h1>
                
                <div>
                    <label asp-for="SelectedCityId" class="text-appStroke text-xs font-inter font-normal">İl</label>
                    @Html.DropDownListFor(
                        s=> s.SelectedCityId,
                        new SelectList(Model.Cities, "CityId", "CityName"),
                        "Seçiniz",
                        new {
                            @class = "border-b-2 text-[1rem] bg-appBgSecondary border-gray-300 focus:outline-none focus:border-appPrimary w-full py-2",
                            id= "cityDropdown"
                            }
                        )
                    <span class="text-appWarning text-sm" asp-validation-for="SelectedCityId"></span>
                </div>
                
                <div>
                    <label for="SelectedDisrictId" class="text-appStroke text-xs font-inter font-normal">İlçe</label>
                    @if(Model.Districts.Count() < 1)
                    {
                    <select id="districtDropdown" name="SelectedDisrictId" class="border-b-2 text-[1rem] bg-appBgSecondary border-gray-300 focus:outline-none focus:border-appPrimary w-full py-2">
                        <option value="">Önce Şehir Seçiniz</option>
                    </select>
                    }
                    else
                    {
                       @Html.DropDownListFor(
                        s=> s.SelectedDisrictId,
                        new SelectList(Model.Districts, "DistrictId", "DistrictName"),
                        "Seçiniz",
                        new {
                            @class = "border-b-2 text-[1rem] bg-appBgSecondary border-gray-300 focus:outline-none focus:border-appPrimary w-full py-2",
                            id= "districtDropdown"
                            }
                        ) 
                    }
                    <span class="text-appWarning text-sm" asp-validation-for="SelectedDisrictId"></span>
                </div>
                
                <div>
                    <label asp-for="Business.Address" class="text-appStroke text-xs font-inter font-normal">Adress</label>
                    <textarea class="border-b-2 text-[1rem] border-gray-300 focus:outline-none focus:border-appPrimary w-full py-2" asp-for="Business.Address" ></textarea>
                    <span class="text-appWarning text-sm" asp-validation-for="Business.Address"></span>
                </div>

            </div>
            <div class="w-full h-full flex flex-col items-center justify-center gap-3">
            <a  href="/Home/Index">Belki daha sonra</a>
        @await Html.PartialAsync("_ButtonPartial", new ButtonModel{ Text = "Kaydet", IsSubmit = true })
            </div>
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.2/dist/js/tom-select.complete.min.js"></script>
<script>

    document.getElementById("cityDropdown").addEventListener("change", function () {
        const cityId = this.value
        const districtDropdown = document.getElementById("districtDropdown")

        if(!cityId){
            districtDropdown.innerHTML = '<option value="0">Seçiniz</option>'
            return;
        }

        fetch(`/Register/GetDistrictsByCityId?cityId=${cityId}`)
            .then(response => response.json())
            .then(data => {

                districtDropdown.innerHTML = '<option value="0">Seçiniz</option>'
                data.forEach(district => {
                    const option = document.createElement("option")
                    option.value = district.districtId
                    option.textContent = district.districtName                   
                    districtDropdown.appendChild(option)
                });
            })
            .catch(error => console.error("Hata:", error))
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        fetch("/Register/GetBusinessTypes")
            .then(response => response.json())
            .then(data => {
                const selectElement = document.getElementById("businessTypeDropdown");
                selectElement.innerHTML = '<option value="">Seçiniz</option>'; // varsayilan

                data.forEach(businessType => {
                    const option = document.createElement("option");
                    option.value = businessType.id;
                    option.textContent = businessType.name;
                    selectElement.appendChild(option);
                });

                // TomSelect ile dropdown'ı başlat
                new TomSelect("#businessTypeDropdown", {
                    create: false,
                    sortField: {
                        field: "text",
                        direction: "asc"
                    },
                    placeholder: "İşletme türünü seçin...",
                    maxItems: 1
                });
            })
            .catch(error => console.error("Hata:", error));
    });
</script>




