<nav class="flex flex-col gap-2 items-center justify-evenly h-1/2 my-6">


    <a href="/AdminPanel/UpdateAdmin"
        class="bg-appWarning w-64 py-2 my-5 rounded-full font-semibold no-underline text-base text-center text-appCartBg"
        type="button">Giriş Bilgilerini Değiştir</a>

    <a href="/AdminPanel/AddExpert"
        class="bg-appPrimary w-64 py-2 rounded-full font-semibold no-underline text-base text-center text-appCartBg"
        type="button">Uzman Kategorisi Ekleme</a>
    <a href="/AdminPanel/RemoveExpert"
        class="bg-appPrimary w-64 py-2 rounded-full font-semibold no-underline text-base text-center text-appCartBg"
        type="button">Uzman Kategorisi Silme</a>
    <a href="/AdminPanel/AddOpportunity"
        class="bg-appPrimary w-64 py-2 rounded-full font-semibold no-underline text-base text-center text-appCartBg"
        type="button">Firsat Ekleme</a>
    <a href="/AdminPanel/RemoveOpportunity"
        class="bg-appPrimary w-64 py-2 rounded-full font-semibold no-underline text-base text-center text-appCartBg"
        type="button">Firsat Silme</a>

</nav>