@model LoginVM


<form asp-action="Index" method="post" class="px-4">
    <div class="w-full h-screen flex flex-col gap-4 items-center justify-evenly">

        <!-- Logo -->
        <img src="~/images/login/logo.png" alt="logo">


        <div class="flex flex-col gap-5">
            <label for="PhoneNumber" class="text-appStroke text-xs font-inter font-normal">Cep Telefonu</label>
            <input maxlength="11" class="basic-input" asp-for="PhoneNumber" type="tel" placeholder="">
            <span class="text-appWarning text-sm" asp-validation-for="PhoneNumber"></span>
            <div class="flex justify-center items-center gap-2 mt-4">

                <a class="" href="/Login/LegalNotice">Aydinlatma metnini okudum onayliyorum.</a>

                <label class="relative items-center">
                    <input type="checkbox" asp-for="IsPrivacyPolicyAccepted" class="sr-only peer">
                    <div class="w-[3.20rem] h-8 bg-gray-200 rounded-full peer peer-checked:bg-green-600">
                    </div>
                    <div
                        class="absolute top-1 left-1 bg-white border border-gray-300 rounded-full h-6 w-6 peer-checked:translate-x-[calc(100%-0.30rem)] transition-transform">
                    </div>
                </label>
            </div>
            <span class="text-appWarning text-sm" asp-validation-for="IsPrivacyPolicyAccepted"></span>
        </div>

        <!-- Submit Button -->
        @await Html.PartialAsync("_ButtonPartial", new ButtonModel
        {
            Text = "Giriş Yap",
                IsSubmit = true,
                })

    </div>
</form>
