@model RegisterVM

@await Html.PartialAsync("_HeaderPartial", new HeaderModel
{
    Text = "Profil Bilgileri",
    ArrowLink = "/Login/Index",
})

<form action="/Login/RegisterFirst" method="post" class="px-4">
    <div class="w-full h-screen flex flex-col gap-4 items-center justify-around">
        <div class="w-full flex flex-col gap-2">

            <div>
                <label for="Name" class="text-appStroke text-xs font-inter font-normal">Ad</label>
                <input class="border-b-2 text-[1rem] border-gray-300 focus:outline-none focus:border-appPrimary w-full"
                    asp-for="User.Name" type="text" placeholder="Isminiz">
                <span class="text-appWarning text-sm" asp-validation-for="User.Name"></span>
            </div>
            <div>
                <label for="Surname" class="text-appStroke text-xs font-inter font-normal">Soyad</label>
                <input class="border-b-2 text-[1rem] border-gray-300 focus:outline-none focus:border-appPrimary w-full"
                    asp-for="User.Surname" type="text" placeholder="Soyadiniz">
                <span class="text-appWarning text-sm" asp-validation-for="User.Surname"></span>
            </div>
            <div>
                <label for="SelectedRoleId"
                    class="text-appStroke text-xs font-inter font-normal">İşletmedekiRolü</label>
                @Html.DropDownListFor(
                         s => s.SelectedRoleId,
                         new SelectList(Model.Roles, "RoleId", "RoleName"),
                         "Seçiniz",
                         new {@class = "border-b-2 text-[1rem] bg-white border-gray-300 focus:outline-none focus:border-appPrimary w-full py-2" }
                         )
                         <span class="text-appWarning text-sm" asp-validation-for="SelectedRoleId"></span>
            </div>
        </div>

        @await Html.PartialAsync("_ButtonPartial", new ButtonModel
   {
       Text = "Kaydet",
       IsSubmit = true
   })
    </div>
</form>