<div class="flex flex-col justify-evenly items-center w-full h-screen text-appText text-center">
    <h2 class="text-3xl">Bilgilerinize İhtiyacımız Var</h2>
    <img src="~/images/login/reqDetail.png" alt="Banner">
    <p class="text-[1rem]">Bu bilgileri size ve işletmenize en uygun haber ve fırsatları belirlemek için kullanacağız.
    </p>
    <a href="/Home/Index">Belki daha sonra</a>
</div>