@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-appPrimary">
    <h1 class="font-inter">TEST</h1>
    <p class="font-sans">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET
            Core</a>.</p>
    <p class="">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>
