@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="font-quick text-6xl text-text bg-primary">TEST</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
